.app-wrapper {
  display: grid;

  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 6px;

  margin: 0 auto;
  width: 75%;
}

.header {
  grid-area: h;
  background-color: greenyellow;
}

.nav {
  grid-area: n;
  background-color: greenyellow;
}

.content {
  grid-area: c;
  background-color: whitesmoke;
}

.logo {
  height: 100%;
}

.content .headerImg img {
  width: 100%;
}

.content .myinfo img {
  height: 150px;
  width: 150px;
}
